{{extend name="public/base"}}

{{block name="main"}}
<h1>添加分类</h1>
<form action="{{:url('admin/category/doAdd')}}" method="post" class="form-horizontal">

    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label">父级分类:</label>
        </div>
        <div class="col-md-5">
            <select name="parentid" class="form-control">
                <option value="0">顶级分类</option>
                {{volist name="cs" id="vo"}}
                <option value="{{$vo.id}}">{{:str_repeat('--',$vo.level)}}{{$vo.title}}</option>
                {{/volist}}
            </select>
        </div>
        <div class="col-md-5">
            <span class="help-block">请选择父节分类</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label">分类名称:</label>
        </div>
        <div class="col-md-5">
            <input type="text" name="title" value="" class="form-control" autocomplete="off">
        </div>
        <div class="col-md-5">
            <span class="help-block">请输入分类名称,最长不超过20个字符</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <label class="control-label">是否推荐:</label>
        </div>
        <div class="col-md-5">
            <input type="checkbox" name="recommend" value="1">推荐
        </div>
        <div class="col-md-5">
            <span class="help-block"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input type="submit" value="添加" class="btn btn-primary">
            <input type="reset" vale="重置" class="btn btn-default">
        </div>
    </div>

</form>
{{/block}}