{{extend name="public/base"}}

{{block name="main"}}
<h1 class="bg-success text-center">用户列表</h1>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>手机号</th>
            <th>邮箱</th>
            <th>是否是管理员</th>
            <th>创建时间</th>
            <th>操作菜单</th>
        </tr>
        {{volist name="list" id="vo"}}
        <tr>
            <td>{{$vo.id}}</td>
            <td>{{$vo->username}}</td>
            <td>{{$vo['phone']}}</td>
            <td>{{$vo:email}}</td>
            <td>{{$vo->admin}}</td>
            <td>{{$vo.created}}</td>
            <td>
                <a href="{{:url('admin/admin/edit',['id'=>$vo.id])}}" class="btn btn-info">编辑</a>
                <a href="{{:url('admin/admin/delete',['id'=>$vo.id])}}" class="btn btn-danger"
                   onclick="return confirm('是否确认删除')">删除</a>
            </td>
        </tr>
        {{/volist}}
    </table>
    {{$list->render()}}
</div>
{{/block}}